<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Dashwallet!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </head>

  <body>
    <header>
      <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
            <li class="uk-active"><%= link "Dashwallet", to: dashboard_path(@conn, :index) %></li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="uk-section uk-section-default">
      <div class="uk-container">
        <%= if message = get_flash(@conn, :info) do %>
          <div class="uk-alert-primary" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p><%= message %></p>
          </div>
        <% end %>

        <%= if message = get_flash(@conn, :error) do %>
          <div class="uk-alert-danger" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p><%= message %></p>
          </div>
        <% end %>

        <main role="main">
          <%= render @view_module, @view_template, assigns %>
        </main>
      </div>
    </div>
  </body>
</html>
