<div class="row marketing">
  <%= if @tw_data do %>
    <div class="col-lg-6">
      <h4>Tags Analysis</h4>
      <ul>
        <%= inspect @tw_data %>
        <%= raw Chartkick.pie_chart @tw_data %>
      </ul>
    </div>
  <% end %>
</div>
