<div id="chart-data" data-expenses-by-tag="<%= @expenses_by_tag %>" />
<div>
  <h4>Tags Analysis</h4>
  <ul>
    <div id="expenses-by-tag" style="height: 300px;">Loading chart</div>
  </ul>
</div>
<script>require('js/dashboard')</script>
