<div class="row marketing">
  <div class="col-lg-6">
    <h4>Upload trailwallet data (*.csv).</h4>
    <%= form_for @conn, upload_path(@conn, :upload), [multipart: true], fn f -> %>
      <div class="form-group">
        <label>Photo</label>
        <%= file_input f, :file, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= submit "Submit", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
